.nav-searchbar{
    background-color: #fff2;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    padding: 2px;
}

.links{
    text-decoration: none;
    color: black;
}

.links:hover{
    font-size: 1.1rem;
    color: blanchedalmond;
}