#input-search{
    border-radius: 10px;
}

#input-search:hover{
    border: 2px solid rgb(115, 204, 255) ;
}

#btn-search{
    border-radius: 5px;
    background-color: rgb(46, 91, 111);
    border: 1px solid rgb(63, 120, 145);
    color: #fff;
}

#btn-search:hover{
    box-shadow: 2px 2px 5px black ;
}